meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="stylesheet", type="text/css", href="style/style.css")
meta(name="keywords", content="#{keyword}")
meta(name="description", content="#{desc}")

//- social
meta(property="og:type", content="website")
meta(property="og:title", content="#{title}")
meta(property="og:description", content="#{desc}")
meta(property="og:url", content="")
meta(property="og:site_name", content="#{title}")
meta(property="og:image", content="")
meta(property="og:locale", content="ja_JP")

meta(name="twitter:card", content="summary_large_image")
//- meta(name="twitter:site", content="@account")

//- favicon
//- link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
//- IE
//- link(rel='shortcut icon', href='favicon.ico')
//- link(rel='apple-touch-icon-precomposed', href='favicon-152.png')

//- meta(name='msapplication-TileColor', content='#FFFFFF')
//- meta(name='msapplication-TileImage', content='favicon-144.png')

//- link(rel='apple-touch-icon-precomposed', sizes='57x57', href='favicon-57.png')
//- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicon-72.png')
//- link(rel='apple-touch-icon-precomposed', sizes='76x76', href='favicon-76.png')
//- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='favicon-114.png')
//- link(rel='apple-touch-icon-precomposed', sizes='120x120', href='favicon-120.png')
//- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicon-144.png')
//- link(rel='apple-touch-icon-precomposed', sizes='152x152', href='favicon-152.png')
//- link(rel='apple-touch-icon-precomposed', sizes='180x180', href='favicon-180.png')
//- link(rel='apple-touch-icon-precomposed', href='favicon-180.png')
